<configuration>
  <system.webServer>
    <!-- Specify the startup command for your Node.js app -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all requests to the entry file -->
    <rewrite>
      <rules>
        <rule name="Redirect to Node.js">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Set default documents -->
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
